.tag {
  @include ClearButton;

  cursor: pointer;
  color: $color-brand-colors-primary;
  padding: 5px 15px;
  border: 2px solid $color-brand-colors-primary;
  border-radius: 65px;
  margin: $margin * 0.25;
  transition: 0.2s all ease;
  white-space: nowrap;

  @include text-style-ubuntu-medium-16-font-size;

  &.small {
    cursor: default;
    padding: 5px 8px;
    color: $color-brand-colors-secondary-1;
    border: none;
    background: $color-brand-colors-secondary-2;
    margin: $margin * 0.125;

    @include text-style-12-font-size;
  }

  &.hasFunc:hover {
    background: $color-brand-colors-primary;
    color: $color-gray-colors-white;
  }

  &.active {
    background: $color-brand-colors-primary;
    color: $color-gray-colors-white;
  }
}