.tag {
  @include ClearButton;

  cursor: pointer;
  color: $color-primary;
  padding: 5px 15px 7px 15px;
  border: 1px solid $color-primary;
  border-radius: 65px;
  margin: $margin * 0.25;
  transition: 0.2s all ease;
  white-space: nowrap;
  background: white;

  @include text-style-font-16;

  &.hasFunc:hover {
    background: $color-magic-gradient;
    color: white;
  }

  &.active {
    background: $color-magic-gradient;
    color: white;
    border: 1px solid;
  }
}