{{ define "content" }}
  <div class="space-between block">
    <h1>Tags</h1>
    <a href="/admin/tags/create" class="button is-success is-outlined">Create</a>
  </div>
  {{ partial "partials/alerts" . }}
  <div class="box">
    <table class="table is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Slug</th>
          <th>Date Created</th>
          <th>Date Updated</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{range $tag := .Tags}}
          <tr>
            <td>{{$tag.Index}}</td>
            <td>{{$tag.Title}}</td>
            <td>{{$tag.Slug}}</td>
            <td>{{$tag.CreatedAt}}</td>
            <td>{{$tag.UpdatedAt}}</td>
            <td class="flex-row">
              <div class="columns is-1 is-variable bd-klmn-columns">
                <div class="column align-center">
                  <a href="/admin/tags/view/{{$tag.ID}}" class="button is-info is-outlined">
                    <span class="icon">
                      <i class="fas fa-eye"></i>
                    </span>
                  </a>
                </div>
                <div class="column">
                  <form action="/api/tags/delete" method="POST">
                    <input type="hidden" value="/admin/tags" name="redirect" />
                    <input type="hidden" value="{{$tag.ID}}" name="id" />
                    <button type="submit" class="button is-danger is-outlined">
                      <span class="icon">
                        <i class="fas fa-trash"></i>
                      </span>
                    </button>
                  </form>
                </div>
              </div>
            </td>
          </tr>
        {{end}}
      </tbody>
    </table>
  </div>
{{ end }}