{{ define "content" }}
  <div class="space-between">
    <h1>Edit Tag - {{.Tag.Title}}</h1>
    <div class="flex-row">
      <a href="/admin/tags" class="btn btn-secondary btn-sm m-1">Back</a>
      <form action="/api/tags/delete" method="POST" class="mb-0">
        <input type="hidden" value="{{.Tag.ID}}" name="id"/>
        <button type="submit" class="btn btn-danger btn-sm m-1">Delete</button>
      </form>
    </div>
  </div>
  <form action="/api/tags/edit" method="POST">
    <input type="hidden" name="redirect" value="/admin/tags" />
    <input type="hidden" name="id" value="{{.Tag.ID}}" />
    <div class="form-group mb-3">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" placeholder="Title" value="{{.Tag.Title}}" required="true"/>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
{{ end }}