{{ define "content" }}
  <div class="block">
    <div class="space-between">
      <h1>Edit Tag - {{.Tag.Title}}</h1>
      <div class="flex-row">
        <a href="/admin/tags" class="button is-info is-outlined">Back</a>
        <form action="/api/tags/delete" method="POST" class="mb-0">
          <input type="hidden" value="{{.Tag.ID}}" name="id"/>
          <button type="submit" class="button is-danger is-outlined">Delete</button>
        </form>
      </div>
    </div>
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="/admin/tags">Tags</a></li>
        <li class="is-active"><a href="#" aria-current="page">{{.Tag.Title}}</a></li>
      </ul>
    </nav>
  </div>
  <form action="/api/tags/edit" method="POST" class="box">
    <input type="hidden" name="redirect" value="/admin/tags" />
    <input type="hidden" name="id" value="{{.Tag.ID}}" />
    <div class="field">
      <label for="title" class="label">Title</label>
      <div class="control">
        <input type="text" class="input" name="title" placeholder="Title" value="{{.Tag.Title}}" required="true"/>
      </div>
    </div>
    <button type="submit" class="button is-success is-outlined">Save</button>
  </form>
{{ end }}