.DS_Store
tmp
.env
*.db
data/

# elixir
.elixir_ls
_build/
cover/
deps/
doc/
.fetch
erl_crash.dump
*.ez
backend-*.tar
backend/priv/static/assets/*
backend/priv/static/cache_manifest.json

# node 
node_modules/
public/static/*.js*
coverage/
.next/
yarn-error.log
npm-debug.log

# terraform
.terraform
.terraform.lock.hcl
