.button {
  @include ClearButton;

  cursor: pointer;
  border-radius: 7px;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;

  &.large {
    padding: 0 $margin;
    min-height: 52px;

    @include text-style-ubuntu-medium-16-font-size;
  }

  &.small {
    padding: 0 $margin * 0.5;
    min-height: 30px;

    @include text-style-ubuntu-medium-14-font-size;
  }

  &.blue {
    color: $color-gray-colors-white;
    background: $color-brand-colors-primary;
    border: 2px solid $color-brand-colors-primary;
  }

  &.white {
    color: $color-brand-colors-primary;
    background: $color-gray-colors-white;
    border: 2px solid $color-brand-colors-primary;
  }

  &.full {
    width: 100%;
  }
}