@mixin ClearButton {
  border: none;
  background: none;
  padding: 0;
}

@mixin NoScrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

@mixin Pagination {
  .pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
  }

  .paginationPage > a, .paginationNext > a, .paginationPrev > a {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s all ease;
    cursor: pointer;

    @include text-style-bold-font-16;
  }

  .paginationPage, .paginationNext, .paginationPrev {
    transition: 0.2s all ease;
    color: $color-dark-grey;
    border-bottom: 2px solid white;

    &:hover {
      color: $color-primary;
      
      svg path {
        stroke: $color-primary;
      }
    }
  }
  
  .paginationDisabled {
    opacity: 0.5;

    > a {
      cursor: not-allowed;
    }

    &:hover {
      background: unset;

      svg path {
        opacity: 0.5;
        stroke: $color-dark-grey;
      }
    }
  }

  .paginationNext {
    margin-left: $margin * 0.5;
  }

  .paginationPrev {
    margin-right: $margin * 0.5;
  }

  .paginationActive {
    border-bottom: 2px solid $color-primary;
    color: $color-primary;
  }
}