$font: "Mulish";

@mixin text-style-48-font-size {
	font-size:48px;
	font-family:$font;
	font-weight:bold;
	font-style:normal;
	line-height:56px;
	text-decoration:none;
}
@mixin text-style-12-font-size {
	font-size:12px;
	font-family:$font;
	font-weight:normal;
	font-style:normal;
	line-height:15px;
	text-decoration:none;
}
@mixin text-style-ubuntu-medium-32-font-size {
	font-size:32px;
	font-family:$font;
	font-weight: $medium;
	font-style:normal;
	line-height:36px;
	text-decoration:none;
}
@mixin text-style-ubuntu-medium-20-font-size {
	font-size:20px;
	font-family:$font;
	font-weight:$medium;
	font-style:normal;
	line-height:24px;
	letter-spacing:-0.01em;
	text-decoration:none;
}
@mixin text-style-ubuntu-medium-18-font-size {
	font-size:18px;
	font-family:$font;
	font-weight:$medium;
	font-style:normal;
	line-height:22px;
	letter-spacing:-0.01em;
	text-decoration:none;
}
@mixin text-style-ubuntu-medium-16-font-size {
	font-size:16px;
	font-family:$font;
	font-weight:$medium;
	font-style:normal;
	line-height:20px;
	letter-spacing:-0.01em;
	text-decoration:none;
}
@mixin text-style-ubuntu-medium-14-font-size {
	font-size:14px;
	font-family:$font;
	font-weight:$medium;
	font-style:normal;
	line-height:20px;
	letter-spacing:-0.01em;
	text-decoration:none;
}
@mixin text-style-ubuntu-medium-13-font-size {
	font-size:13px;
	font-family:$font;
	font-weight:$medium;
	font-style:normal;
	line-height:20px;
	letter-spacing:-0.01em;
	text-decoration:none;
}
@mixin text-style-ubuntu-bold-32-font-size {
	font-size:32px;
	font-family:$font;
	font-weight:bolder;
	font-style:normal;
	line-height:36px;
	text-decoration:none;
}
@mixin text-style-ubuntu-bold-16-font-size {
	font-size:16px;
	font-family:$font;
	font-weight:bolder;
	font-style:normal;
	line-height:24px;
	text-decoration:none;
}
@mixin text-style-ubuntu-regular-24-font-size {
	font-size:24px;
	font-family:$font;
	font-weight:normal;
	font-style:normal;
	line-height:28px;
	letter-spacing:-0.02em;
	text-decoration:none;
}
@mixin text-style-ubuntu-regular-18-font-size {
	font-size:18px;
	font-family:$font;
	font-weight:normal;
	font-style:normal;
	line-height:22px;
	text-decoration:none;
}
@mixin text-style-ubuntu-regular-16-font-size {
	font-size:16px;
	font-family:$font;
	font-weight:normal;
	font-style:normal;
	line-height:24px;
	letter-spacing:-0.01em;
	text-decoration:none;
}
@mixin text-style-ubuntu-regular-14-font-size {
	font-size:14px;
	font-family:$font;
	font-weight:normal;
	font-style:normal;
	line-height:20px;
	text-decoration:none;
}
@mixin text-style-ubuntu-regular-13-font-size {
	font-size:13px;
	font-family:$font;
	font-weight:normal;
	font-style:normal;
	line-height:20px;
	text-decoration:none;
}
@mixin text-style-ubuntu-light-16-font-size {
	font-size:16px;
	font-family:$font;
	font-weight:lighter;
	font-style:normal;
	line-height:20px;
	text-decoration:none;
}
@mixin effect-style-drop-shadow {
	box-shadow:0.00px 30.00px 100.00px rgba(0,0,0,0.350);
}
@mixin button-drop-shadow {
	box-shadow: 0px 4px 20px rgba($color-brand-colors-primary, 0.5);
}
@mixin button-drop-shadow-hover {
	box-shadow: 0px 12px 20px rgba($color-brand-colors-primary, 0.2);
}


