$color-primary: rgba(124,129,255,1);
$color-secondary: rgba(70,221,255,1);
$color-dark-grey: rgba(75,75,75,1);
$color-primary-light: rgba(206,208,255,1);
$color-secondary-light: rgba(245,248,250,1);
$color-light-grey: rgba(239,239,239,1);
$color-magic-gradient: linear-gradient(99.43deg, #9A4DFF -14.38%, #3FE7FF 97.06%);

$medium: 500;
$margin: 24px;
$desktopHeaderHeight: 72px;
$mobileHeaderHeight: 48px;

$subtleShadow: 0 0 5.5rem rgba(9, 54, 63, 0.08);