.mobileMenu {
  position: fixed;
  left: $margin * 0.5;
  width: calc(100% - $margin);
  top: calc($mobileHeaderHeight + $margin);
  background: white;
  height: auto;
  padding: $margin;
  z-index: 99;
  transition: 0.2s all ease;
  border-radius: 24px;

  &[data-active="false"] {
    display: none;
  }

  .inner {
    display: grid;
    height: max-content;
    display: flex;
    flex-direction: column;

    nav {
      display: grid;
      grid-template-rows: repeat(4, auto);

      a {
        color: $color-dark-grey;
        margin-bottom: $margin;

        @include text-style-font-24;
      }
    }

    .socials {
      display: grid;
      width: max-content;
      grid-template-columns: repeat(3, auto);
      column-gap: $margin * 0.5;

      svg {
        height: 48px;
        width: 48px;
      }
    }
  }
}