.header {
  background: $color-gray-colors-white;
  display: flex;
  justify-content: center;
  height: $desktopHeaderHeight;
  margin: 0 $margin * 0.5;
  position: sticky;
  top: $margin * 0.5;
  z-index: 999;
  border: 1px solid $color-light-grey;
  transition: 0.2s all ease;
  border-radius: 48px;

  &.hideHeader {
    transform: translateY(-$desktopHeaderHeight - $margin);
  }

  .inner {
    width: 100%;
    max-width: 1280px;
    height: 100%;
    display: grid;
    align-items: center;
    padding: 0 $margin;
    grid-template-columns: repeat(3, 1fr);

    .logo {
      color: $color-brand-colors-secondary-1;

      @include text-style-font-24;
    }

    nav {
      display: flex;
      align-items: center;
      justify-self: center;

      a {
        margin: 0 $margin * 0.5;
        color: $color-brand-colors-secondary-1;

        @include text-style-font-14;
      }
    }

    .socials {
      display: flex;
      align-items: center;
      justify-self: flex-end;

      a {
        display: flex;
      }

      svg {
        margin: 0 $margin * 0.25;
        height: 32px;
        width: 32px;
      }
    }
  }
}