.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  
  .login-block {
    width: 1000px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 24px;
    border: 2px solid $color-color-neutral-4-grey-25-reverse;

    .login-block-left {
      background: url('../icons/dude.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 80% auto;
      border-radius: 24px 0 0 24px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background: $color-gradient-1;
        border-radius: 22px 0 0 22px;
      }
    }

    .login-block-right {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      margin-left: 48px;

      h1 {
        margin: 0;
        margin-bottom: 6px;
      }

      form {
        width: 343px;
      }

      input, .checkbox-wrapper {
        margin-bottom: 6px;
      }
    }
  }
}