extends ../admin.pug

block content
  .space-between
    h1 Create Project
    .flex-row 
      a(href="/admin/projects" class="btn btn-secondary btn-sm m-1") Back
  form(action='/api/projects/create', method='POST')
    input(type="hidden" name="redirect" value="/admin/projects")
    .form-group.mb-3
      label(for="title") Title
      input(type="text" class="form-control" name="title" placeholder="Title" required=true)
    .form-group.mb-3
      label(for="description") Description
      input(type="text" class="form-control" name="description" placeholder="Description" value="{{.Project.Description}}" required=true)  
    .form-group.mb-3
      label(for="image") Image 
      br
      input(type="file" class="form-control-file" name="image")
    .form-group.mb-3
      label(for="url") URL
      input(type="text" class="form-control" name="url" placeholder="Url")
    .form-group.mb-3
      label(for="git") Git
      input(type="text" class="form-control" name="git" placeholder="Git")

    each _, i in .Tags 
      input(type="checkbox" id="{{.Slug}}" name="tags" class="m-2" value="false")
      label(for="{{.Slug}}") {{.Title}}
      br

    br
    button(type="submit" class="btn btn-primary") Create
