{{ define "content" }}
  <div class="space-between block">
    <h1>Projects</h1>
    <a href="/admin/projects/create" class="button is-success is-outlined">Create</a>
  </div>
  {{ partial "partials/alerts" . }}
  <div class="box">
    <table class="table is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Date Created</th>
          <th>Date Updated</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{range $project := .Projects}}
          <tr>
            <td>{{$project.Index}}</td>
            <td>{{$project.Title}}</td>
            <td>{{$project.CreatedAt}}</td>
            <td>{{$project.UpdatedAt}}</td>
            <td class="flex-row">
              <div class="columns is-1 is-variable bd-klmn-columns">
                <div class="column align-center">
                  <a href="/admin/projects/view/{{$project.ID}}" class="button is-info is-outlined">
                    <span class="icon">
                      <i class="fas fa-eye"></i>
                    </span>
                  </a>
                </div>
                <div class="column">
                  <form action="/api/projects/delete" method="POST">
                    <input type="hidden" value="/admin/projects" name="redirect" />
                    <input type="hidden" value="{{$project.ID}}" name="id" />
                    <button type="submit" class="button is-danger is-outlined">
                      <span class="icon">
                        <i class="fas fa-trash"></i>
                      </span>
                    </button>
                  </form>
                </div>
              </div>
            </td>
          </tr>
        {{end}}
      </tbody>
    </table>
  </div>
{{ end }}