{{ define "content" }}
  <div class="block">
    <div class="space-between">
      <h1>Edit Project - {{.Project.Title}}</h1>
      <div class="flex-row">
        <a href="/admin/projects" class="button is-info is-outlined">Back</a>
        <form action="/api/projects/delete" method="POST">
          <input type="hidden" name="redirect" value="/admin/projects"/>
          <input type="hidden" value="{{.Project.ID}}" name="id"/>
          <button type="submit" class="button is-danger is-outlined">Delete</button>
        </form>
      </div>
    </div>
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="/admin/projects">Projects</a></li>
        <li class="is-active"><a href="#" aria-current="page">{{.Project.Title}}</a></li>
      </ul>
    </nav>
  </div>
  <form action="/api/projects/edit" method="POST" class="box" enctype="multipart/form-data">
    <input type="hidden" name="redirect" value="/admin/projects" />
    <input type="hidden" name="id" value="{{.Project.ID}}" />
    <div class="field">
      <label for="title" class="label">Title</label>
      <div class="control">
        <input type="text" class="input" name="title" placeholder="Title" value="{{.Project.Title}}" required="true"/>
      </div>
    </div>
    <div class="field">
      <label for="title" class="label">Description</label>
      <div class="control">
        <textarea class="textarea" name="description" placeholder="Description" required="true">{{.Project.Description}}</textarea>
      </div>
    </div>
    <div class="field">
      <label for="url" class="label">URL</label>
      <div class="control">
        <input type="text" class="input" name="url" placeholder="Url" value="{{.Project.URL}}"/>
      </div>
    </div>
    <div class="field">
      <label for="git" class="label">Git</label>
      <div class="control">
        <input type="text" class="input" name="git" placeholder="Git" value="{{.Project.Git}}"/>
      </div>
    </div>

    <h6>Tags</h3>
    <div class="block">
      {{ range $tag := .Tags }}
        <label for="{{$tag.Slug}}" class="checkbox">
          {{ if $tag.Checked }}
            <input type="checkbox" id="{{$tag.Slug}}" name="tags" class="m-2" value="{{$tag.Slug}}" checked="true"/>
          {{ else }}
            <input type="checkbox" id="{{$tag.Slug}}" name="tags" class="m-2" value="{{$tag.Slug}}" />
          {{ end }}
          {{$tag.Title}}
        </label>
        <br/>
      {{ end }}
    </div>

    <h6>Assets</h3>
    <div class="block">
      {{ range $asset := .Assets }}
      <label for="{{$asset.Slug}}" class="checkbox">
        {{ if $asset.Checked }}
          <input type="checkbox" id="{{$asset.Slug}}" name="assets" class="m-2" value="{{$asset.Slug}}" checked="true"/>
        {{ else }}
          <input type="checkbox" id="{{$asset.Slug}}" name="assets" class="m-2" value="{{$asset.Slug}}"/>
        {{ end }}
        {{$asset.Title}}
      </label>
      <br/>
      {{ end }}
    </div>

    <button type="submit" class="button is-success is-outlined">Save</button>
  </form>
{{ end }}