extends ../admin.pug

block content
  .space-between
    h1 Users
    a(href="/admin/users/create" class="btn btn-success") Create
  if .Err
    .alert.alert-danger {{.Err}}
  if .Success
    .alert.alert-success Success
  table(class="table")
    thead 
      tr 
        th(scope="col") #
        th(scope="col") Username 
        th(scope="col") Email
        th(scope="col") Date Created
        th(scope="col") Date Updated
        th(scope="col") Action
    tbody 
      each _, i in .Users
        tr 
          th(scope="row" class="align-middle") {{.Index}}
          th(class="align-middle") {{.Username}}
          th(class="align-middle") {{.Email}}
          th(class="align-middle") {{.DateCreated}}
          th(class="align-middle") {{.DateUpdated}}
          th(class="flex-row") 
            a(href="/admin/users/view/{{.ID}}" class="btn btn-primary btn-sm m-1") View
            form(action='/api/users/delete', method='POST' class="mb-0")
              input(hidden="true" value="{{.ID}}" name="id")
              button(type="submit" class="btn btn-danger btn-sm m-1") Delete