.mobileHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: $mobileHeaderHeight;
  background: $color-gray-colors-white;
  justify-content: space-between;
  padding: 0 $margin;
  align-items: center;
  z-index: 1;

  .logo {
    color: $color-brand-colors-secondary-1;

    @include text-style-ubuntu-medium-32-font-size;
  }

  .menu {
    @include ClearButton;

    cursor: pointer;
    transform: rotate(0);
    transition: 0.2s all ease;
    display: flex;

    &[data-active="true"] {
      transform: rotate(180deg);
    }

    svg {
      height: 48px;
      width: 48px;
    }
  }
}

.backing {
  @include ClearButton;

  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(black, 0.3);
  transition: 0.2s all ease;
  opacity: 1;
  cursor: pointer;

  &[data-active="false"] {
    opacity: 0;
  }
}