.index {
  height: 100%;
  background: rgba($color-state-colors-info, 0.08);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .inner {
    box-shadow: $subtleShadow;
    max-width: 1280px;
    width: 100%;
  }
}