{{ define "content" }}
  <div class="block">
    <div class="space-between">
      <h1>Create User</h1>
      <div class="flex-row">
        <a href="/admin/users" class="button is-info is-outlined">Back</a>
      </div>
    </div>
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="/admin/users">Users</a></li>
        <li class="is-active"><a href="#" aria-current="page">Create</a></li>
      </ul>
    </nav>
  </div>
  <form action="/api/user/create" method="POST" class="box">
    <input type="hidden" name="redirect" value="/admin/users" />
    <div class="field">
      <label for="username" class="label">Username</label>
      <div class="control">
        <input type="text" class="input" name="username" placeholder="Username" required="true"/>
      </div>
    </div>
    <div class="field">
      <label for="password" class="label">Password</label>
      <div class="control">
        <input type="password" class="input" name="password" placeholder="Password" required="true"/>
      </div>
    </div>
    <div class="field">
      <label for="email" class="label">Email</label>
      <div class="control">
        <input type="text" class="input" name="email" placeholder="Email" />
      </div>
    </div>
    <button type="submit" class="button is-success is-outlined">Save</button>
  </form>
{{ end }}