{{ define "content" }}
  <div class="space-between">
    <h1>Users</h1>
    <a href="/admin/users/create" class="btn btn-success">Create</a>
  </div>
  {{ partial "partials/alerts" . }}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Date Created</th>
        <th scope="col">Date Updated</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{range $user := .Users}}
        <tr>
          <th scope="row" class="align-middle">{{$user.Index}}</th>
          <th class="align-middle">{{$user.Username}}</th>
          <th class="align-middle">{{$user.Email}}</th>
          <th class="align-middle">{{$user.DateCreated}}</th>
          <th class="align-middle">{{$user.DateUpdated}}</th>
          <th class="flex-row">
            <a href="/admin/users/view/{{$user.ID}}" class="btn btn-primary btn-sm m-1">View</a>
            <form action="/api/users/delete" method="POST" class="mb-0">
              <input type="hidden" value="/admin/users" name="redirect" />
              <input type="hidden" value="{{$user.ID}}" name="id" />
              <button type="submit" class="btn btn-danger btn-sm m-1">Delete</button>
            </form>
          </th>
        </tr>
      {{end}}
    </tbody>
  </table>
{{ end }}