{{ define "content" }}
  <div class="space-between">
    <h1>Edit User - {{.User.Username}}</h1>
    <div class="flex-row">
      <a href="/admin/users" class="btn btn-secondary btn-sm m-1">Back</a>
      <form action="/api/user/delete" method="POST" class="mb-0">
        <input type="hidden" value="{{.User.ID}}" name="id"/>
        <button type="submit" class="btn btn-danger btn-sm m-1">Delete</button>
      </form>
    </div>
  </div>
  <form action="/api/user/edit" method="POST">
    <input type="hidden" name="redirect" value="/admin/users" />
    <input type="hidden" name="id" value="{{.User.ID}}" />
    <input type="hidden" name="dateCreated" value="{{.User.DateCreated}}" />
    <div class="form-group mb-3">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" placeholder="Username" value="{{.User.Username}}" required="true"/>
    </div>
    <div class="form-group mb-3">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password" required="true"/>
    </div>
    <div class="form-group mb-3">
      <label for="email">Email</label>
      <input type="text" class="form-control" name="email" placeholder="Email" value="{{.User.Email}}"/>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
{{ end }}