.hero {
  display: grid;
  height: 720px;
  align-items: center;
  position: relative;

  @include mobile {
    padding-top: calc(#{$mobileHeaderHeight} + #{$margin});
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: unset;
    padding-bottom: $margin;
  }

  .content {
    margin-left: 169px;

    @include tablet {
      margin-left: 50px;
    }

    @include mobile {
      margin-left: 0;
    }

    h2 {
      color: $color-primary;
      margin: 0;
      margin-bottom: $margin * 0.5;
      @include text-style-bold-font-14;

      @include mobile {
        text-align: center;
      }
    }

    h1 {
      color: $color-dark-grey;
      margin: 0;
      margin-bottom: $margin * 0.5;
      @include text-style-font-32;

      @include mobile {
        text-align: center;
        margin-bottom: $margin;
      }
    }

    p {
      color: $color-dark-grey;
      margin: 0;
      margin-bottom: $margin * 0.5;
      width: 353px;
      @include text-style-font-16;
    }

    .btns {
      display: flex;

      > a {
        margin-right: $margin * 0.5;
      }

      @include mobile {
        flex-direction: column;

        > a {
          margin-right: 0;
          margin-bottom: $margin * 0.5;
          width: 188px;
        }
      }
    }
  }

  .background {
    position: absolute;
    right: 41px;

    svg {
      height: 599px;
      width: 599px;
    }

    @include tablet {
      right: 10px;
      svg {
        height: 400px;
        width: 400px;
      }
    }

    @include mobile {
      position: unset;
      margin: -30px 0;
      svg {
        padding-bottom: $margin;
        height: 311px;
        width: 311px;
      }
    }
  }

  .bubble1,
  .bubble2,
  .bubble3,
  .bubble4 {
    position: absolute;
  }
  
  .bubble1 {
    width: 428px * 0.65;
    height: 428px * 0.4;
    overflow: hidden;
    bottom: 0;
    left: 0;

    svg {
      width: 428px;
      height: 428px;
      position: absolute;
      right: 0;
    }
  }

  .bubble2 {
    width: 379px * 0.65;
    height: 379px * 0.38;
    overflow: hidden;
    bottom: 0;
    left: 0;

    svg {
      width: 379px;
      height: 379px;
      position: absolute;
      right: 0;
    }
  }

  .bubble3 {
    width: 164px;
    height: 164px;
    left: 399px;
    top: 100px;

    @include tablet {
      left: 250px;
    }
  }

  .bubble4 {
    width: 61px;
    height: 61px;
    left: 570px;
    top: 230px;

    @include tablet {
      left: 400px;
    }
  }
}