button {
  color: $color-color-neutral-6-white-reverse;
  border: 2px solid $color-color-accent-1-blue;
  background: $color-color-accent-1-blue;
  border-radius: 6px;
  cursor: pointer;

  &.large {
    width: 343px;
    height: 48px;

    @include text-style-button-1;
  }

  &.small {
    width: 180px;
    height: 40px;

    @include text-style-button-2;
  }

  &.ghost {
    background: $color-color-background;
    border: 2px solid $color-color-accent-1-blue;
    color: $color-color-accent-1-blue;
  }

  &:focus {
    outline: none
  }
}