input[type="text"], input[type="password"] {
  height: 48px;
  width: 100%;
  background: $color-color-neutral-6-white-reverse;
  border: 1px solid $color-color-neutral-6-white-reverse;
  border-radius: 6px;
  color: $color-color-neutral-1-dark-reverse;
  padding: 0 16px;
  transition: 0.2s all ease;

  @include text-style-body-1;

  &:active, &:hover {
    border: 1px solid $color-color-neutral-4-grey-25-reverse;
  }

  &:focus {
    outline: none;
    border: 1px solid $color-color-neutral-4-grey-25-reverse;
  }
}


label.checkbox {
  display: block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  margin: 0;
  height: 24px;
  width: 24px;
  margin-bottom: 2px;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border-radius: 6px;
    background-color: $color-color-neutral-6-white-reverse;
    border: 1px solid $color-color-neutral-6-white-reverse;
    transition: 0.2s all ease;
    background-position: 45% 50%;

    &:hover {
      border: 1px solid $color-color-neutral-4-grey-25-reverse;
    }
  }

  input:checked ~ .checkmark {
    background: url('../icons/check.svg');
    background-repeat: no-repeat;
    background-size: 15px auto;
    background-position: 45% 50%;
    background-color: $color-color-neutral-6-white-reverse;
    border: 1px solid $color-color-neutral-4-grey-25-reverse;
  }
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;

  @include text-style-body-1;
}
