.sidebar {
  width: 320px;
  background: $color-color-neutral-6-white-reverse;
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    margin: 0;
  }

  .header {
    display: flex;
    align-items: center;

    .logo {
      background: url('../icons/ar-graphic.svg');
      background-repeat: no-repeat;
      width: 80px;
      height: 80px;
      background-size: 80px 100%;
      margin-right: 12px;
    }
  }

  nav {
    padding-top: 32px;
    padding-left: 12px;
    padding-right: 12px;
    
    .nav-item {
      height: 52px;
      padding: 0 12px;
      display: flex;
      align-items: center;
      font-weight: bold;
      padding-left: 50px;
      padding-top: 4px;
      cursor: pointer;
      border-radius: 12px;
      transition: 0.2s all ease;
      text-decoration: none;
      color: white;

      &.home {
        background: url('../icons/home.svg');
      }

      &.entries {
        background: url('../icons/document.svg');
      }

      &.assets {
        background: url('../icons/image.svg');
      }

      &.users {
        background: url('../icons/users.svg');
      }

      &.profile {
        background: url('../icons/account.svg');

      }

      &.logout {
        background: url('../icons/logout.svg');
      }

      &.home,
      &.entries,
      &.assets,
      &.users,
      &.profile,
      &.logout {
        background-repeat: no-repeat;
        background-position: 12px center;
      }

      &:hover {
        background-color: $color-color-neutral-4-grey-25-reverse;
      }
    }
  }

  .bottom {
    padding-bottom: 32px;
  }
}