.button {
  @include ClearButton;

  cursor: pointer;
  border-radius: 50px;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s all ease;

  &.large {
    padding: 0 30px;
    min-height: 38px;

    @include text-style-font-16;
  }

  &.small {
    padding: 0 $margin * 0.5;
    min-height: 38px;
    box-shadow: none !important;

    @include text-style-font-16;
  }

  &.blue {
    color: white;
    background: $color-magic-gradient;
    border: 1px solid;

    @include effect-style-magic-gradient-drop-shadow;

    &:hover {
      border: 1px solid $color-primary;
      transform: scale(1.05);
      color: $color-primary;
      background: white;
    }
  }

  &.white {
    color: $color-primary;
    background: white;
    border: 1px solid $color-primary;

    @include effect-style-magic-gradient-drop-shadow;

    &:hover {
      transform: scale(1.05);
      color: white;
      background: $color-magic-gradient;
      border: 1px solid;
    }
  }

  &.full {
    width: 100%;
  }

  &.icon {
    padding-left: 18px;

    > svg {
      height: 24px;
      margin-left: $margin * 0.25;

      path {
        transition: 0.2s all ease;
        fill: white;
      }
    }

    &:hover {
      > svg {
        path {
          fill: $color-primary;
        }
      }
    }
  }

  &.icon.white {
    > svg {
      path {
        fill: $color-primary;
      }
    }

    &:hover {
      > svg {
        path {
          fill: white;
        }
      }
    }
  }
}