$color-color-primary-purple: rgba(190,82,242,1);
$color-color-primary-purple-50: rgba(219,165,245,1);
$color-color-primary-purple-25: rgba(238,223,242,1);
$color-color-accent-1-blue: rgba(105,121,248,1);
$color-color-accent-1-blue-75: rgba(165,175,251,1);
$color-color-accent-1-blue-25: rgba(229,231,250,1);
$color-color-neutral-1-dark-reverse: rgba(255,255,255,1);
$color-color-neutral-2-grey-reverse: rgba(247,245,249,1);
$color-color-neutral-3-grey-75: rgba(208,201,214,1);
$color-color-neutral-4-grey-25-reverse: rgba(88,74,115,1);
$color-color-neutral-5-grey-10: rgba(247,245,249,1);
$color-color-neutral-6-white-reverse: rgba(63,51,86,1);
$color-color-neutral-6-white-reverse-dark: rgba(63,51,86,0.4);
$color-color-yellow-1-yellow: rgba(255,207,92,1);
$color-color-yellow-2-yellow-75: rgba(255,226,157,1);
$color-color-yellow-3-yellow-25: rgba(255,248,231,1);
$color-color-orange-1-orange: rgba(255,162,107,1);
$color-color-orange-2-orange-75: rgba(255,199,166,1);
$color-color-orange-3-orange-25: rgba(255,232,218,1);
$color-color-blue-1-blue: rgba(0,132,244,1);
$color-color-blue-2-blue-75: rgba(102,181,248,1);
$color-color-blue-3-blue-25: rgba(213,233,250,1);
$color-color-red-1-red: rgba(255,100,124,1);
$color-color-red-2-red-75: rgba(253,175,187,1);
$color-color-red-3-red-25: rgba(251,228,232,1);
$color-color-green-1-green: rgba(0,196,140,1);
$color-color-green-2-green-75: rgba(125,223,195,1);
$color-color-green-3-green-25: rgba(213,242,234,1);
$color-color-background: rgb(29, 29, 29);
$color-gradient-1: linear-gradient(to bottom, rgba(189,122,227,0.741) 0%,rgba(132,97,201,0.518) 100%);
$color-gradient-2: linear-gradient(to bottom, rgba(205,221,244,0.804) 0%,rgba(205,186,250,0.804) 100%);