extends ../base.pug

block content
  h1 Login
  if .Err
    .alert.alert-danger {{.Err}}
  if .Success
    .alert.alert-success {{.Success}}
  form(action='/api/login' method="POST")
    if .Redirect
      input(hidden=true value="{{.Redirect}}" name="redirect")
    .form-group.mb-3
      label(for="username") Username
      input(type="text" class="form-control" name="username" placeholder="Username" required=true)
    .form-group.mb-3
      label(for="password") Password
      input(type="password" class="form-control" name="password" placeholder="Password" required=true)
    button(type="submit" class="btn btn-primary") Login

