{{ define "head" }}
  <link href="/admin/styles/login.css" rel="stylesheet" type="text/css">
{{ end }}

{{ define "content" }}
  <div class="login">
    {{ partial "partials/alerts" . }}
    <form action="/api/login" method="POST" class="box" style="padding: 24px">
      <h1 style="margin-bottom: 12px">Login</h1>
      <input type="hidden" name="redirect" value="/admin"/>
      <div class="field">
        <p class="control has-icons-left">
          <input type="text" class="input" name="username" placeholder="Username" required="true"/>
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="password" placeholder="Password" name="password" required="true"/>
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <button type="submit" class="button is-info is-primary">Login</button>
    </form>
  </div>
{{ end }}