.project {
  width: 230px;
  height: 350px;

  .title {
    margin-bottom: $margin * 0.25;
    @include text-style-ubuntu-medium-18-font-size;
  }

  .desc {
    height: 60px;
    overflow-y: hidden;
    margin-bottom: $margin * 0.25;
    @include text-style-12-font-size;
  }

  .tags {
    margin-bottom: $margin * 0.25;
  }

  .stub {
    background: $color-brand-colors-secondary-2;
  }

  .image, .stub {
    margin-bottom: $margin * 0.25;
    border-radius: 18px;
    width: 230px;
    height: 160px;
  }

  .image {
    object-fit: cover;
  }

  .buttons {
    margin-bottom: $margin * 0.25;
    display: flex;
    flex-direction: row;

    :first-child {
      margin-right: 6px;
    }
  }
}