main > .sidebar {
  border-right: 1px solid var(--gray-colors-gray-6);
  padding: 24px;
}

.sidebar a {
  text-decoration: none;
  color: var(--brand-colors-secondary-1);
  font-size: 18px;
}

.sidebar_inner {
  display: flex;
  flex-direction: column;
}

.sidebar_main {
  font-weight: bold;
}

.sidebar_sub {
  padding-left: 12px;
  border-left: 1px solid var(--gray-colors-gray-4);
}