.admin {
  display: grid;
  grid-template-columns: 15% auto;
  min-height: calc(100vh - 70px);
}

.admin > .content {
  padding: 24px;
  width: 100%;
  height: 100%;
}

.content li + li {
  margin-top: 0 !important;
}

.content ul {
  margin-left: 0 !important;
}

.content h1 {
  margin-bottom: 0 !important;
}