* {
  font-family: Ubuntu;
  color: var(--brand-colors-secondary-1);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  min-height: calc(100vh - 70px);
  background: var(--gray-colors-gray-7);
}

main > .content {
  width: 100%;
  min-height: calc(100vh - 70px);
}