{% extends 'base.html' %} 

{% block head_content %}
  <link href="/admin/styles/login.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %} Login {% endblock %}

{% block content %} 
  <div class="login">
    <h1>Login</h1>
    <form method="POST">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input name="username" type="email" class="form-control" id="username">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input name="password" type="password" class="form-control" id="password">
      </div>
    </form>
  </div>
{% endblock %}
